<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien libero, condimentum euismod vulputate a,
  tincidunt nec metus. Donec fermentum, enim non tristique finibus, ligula eros pretium nisi, at volutpat metus dui
  vitae mauris. Ut sit amet purus odio. Proin euismod leo sed mauris consectetur, in pellentesque mi pharetra. Sed
  egestas, sapien in ullamcorper ornare, purus lectus vestibulum turpis, ac viverra tellus dui non quam. Duis
  pellentesque, ex eget condimentum efficitur, nunc nulla condimentum augue, in facilisis nunc lectus sit amet metus.
  Mauris gravida lacinia mauris, ac dictum mauris vestibulum a.</p>

<p>Proin pulvinar leo a turpis dignissim commodo. Proin mollis mi nibh, id pretium leo vehicula nec. Vivamus porta elit
  eget leo efficitur sagittis. Praesent vel congue mauris. Aliquam eleifend ex arcu, vel consequat felis scelerisque et.
  Quisque hendrerit tortor at aliquam maximus. Integer pretium ultricies sem eget consectetur.</p>

<p>Pellentesque tempus gravida lorem, et posuere magna pretium at. Nunc volutpat, mi vel rhoncus tincidunt, nunc est
  porttitor quam, sit amet vehicula nulla mi et metus. Suspendisse lacinia maximus orci. Proin risus enim, rutrum in
  mauris ut, venenatis efficitur turpis. Proin ultricies mauris a ipsum egestas, sit amet rutrum sapien convallis. Proin
  tincidunt consectetur nisl, et ultrices justo feugiat eu. Fusce ut lacus non ante sodales aliquam. Phasellus id ipsum
  metus. Donec nec felis nec risus efficitur congue ut sit amet quam. Proin vel feugiat magna.</p>

<p>Suspendisse sollicitudin dui at ligula ornare sodales. Donec odio diam, convallis vel aliquet vitae, sagittis id
  eros. Curabitur vehicula sed risus quis aliquam. Vivamus vehicula dapibus placerat. Praesent nisl ipsum, tincidunt
  maximus vestibulum non, pellentesque in tortor. Pellentesque sed elit quis dolor dignissim accumsan. Maecenas sit amet
  mollis ex, id luctus tellus. Cras eget fermentum tellus. Praesent laoreet vulputate eleifend. Sed nisl nisi,
  sollicitudin sed lacus eget, ornare cursus risus. Nam eu ipsum eget tellus accumsan porttitor. In eget ligula
  lobortis, finibus urna et, interdum ante. Nullam bibendum at orci vel vestibulum. In hac habitasse platea dictumst.
</p>

<p>Suspendisse mollis aliquam nulla, in imperdiet nunc eleifend sit amet. Quisque viverra mauris vel volutpat commodo.
  Vestibulum vel sem arcu. Suspendisse faucibus ullamcorper diam non aliquet. Etiam tempor in elit sit amet porta. Nam
  tempus augue ut mollis pellentesque. Nulla mattis leo at eros viverra, sit amet congue nulla laoreet. Maecenas dictum
  consequat metus sit amet luctus. Vestibulum vel massa sit amet velit placerat gravida nec a ex. Mauris eu blandit dui,
  in facilisis felis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien libero, condimentum euismod vulputate a,
  tincidunt nec metus. Donec fermentum, enim non tristique finibus, ligula eros pretium nisi, at volutpat metus dui
  vitae mauris. Ut sit amet purus odio. Proin euismod leo sed mauris consectetur, in pellentesque mi pharetra. Sed
  egestas, sapien in ullamcorper ornare, purus lectus vestibulum turpis, ac viverra tellus dui non quam. Duis
  pellentesque, ex eget condimentum efficitur, nunc nulla condimentum augue, in facilisis nunc lectus sit amet metus.
  Mauris gravida lacinia mauris, ac dictum mauris vestibulum a.</p>

<p>Proin pulvinar leo a turpis dignissim commodo. Proin mollis mi nibh, id pretium leo vehicula nec. Vivamus porta elit
  eget leo efficitur sagittis. Praesent vel congue mauris. Aliquam eleifend ex arcu, vel consequat felis scelerisque et.
  Quisque hendrerit tortor at aliquam maximus. Integer pretium ultricies sem eget consectetur.</p>

<p>Pellentesque tempus gravida lorem, et posuere magna pretium at. Nunc volutpat, mi vel rhoncus tincidunt, nunc est
  porttitor quam, sit amet vehicula nulla mi et metus. Suspendisse lacinia maximus orci. Proin risus enim, rutrum in
  mauris ut, venenatis efficitur turpis. Proin ultricies mauris a ipsum egestas, sit amet rutrum sapien convallis. Proin
  tincidunt consectetur nisl, et ultrices justo feugiat eu. Fusce ut lacus non ante sodales aliquam. Phasellus id ipsum
  metus. Donec nec felis nec risus efficitur congue ut sit amet quam. Proin vel feugiat magna.</p>

<p>Suspendisse sollicitudin dui at ligula ornare sodales. Donec odio diam, convallis vel aliquet vitae, sagittis id
  eros. Curabitur vehicula sed risus quis aliquam. Vivamus vehicula dapibus placerat. Praesent nisl ipsum, tincidunt
  maximus vestibulum non, pellentesque in tortor. Pellentesque sed elit quis dolor dignissim accumsan. Maecenas sit amet
  mollis ex, id luctus tellus. Cras eget fermentum tellus. Praesent laoreet vulputate eleifend. Sed nisl nisi,
  sollicitudin sed lacus eget, ornare cursus risus. Nam eu ipsum eget tellus accumsan porttitor. In eget ligula
  lobortis, finibus urna et, interdum ante. Nullam bibendum at orci vel vestibulum. In hac habitasse platea dictumst.
</p>

<p>Suspendisse mollis aliquam nulla, in imperdiet nunc eleifend sit amet. Quisque viverra mauris vel volutpat commodo.
  Vestibulum vel sem arcu. Suspendisse faucibus ullamcorper diam non aliquet. Etiam tempor in elit sit amet porta. Nam
  tempus augue ut mollis pellentesque. Nulla mattis leo at eros viverra, sit amet congue nulla laoreet. Maecenas dictum
  consequat metus sit amet luctus. Vestibulum vel massa sit amet velit placerat gravida nec a ex. Mauris eu blandit dui,
  in facilisis felis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien libero, condimentum euismod vulputate a,
  tincidunt nec metus. Donec fermentum, enim non tristique finibus, ligula eros pretium nisi, at volutpat metus dui
  vitae mauris. Ut sit amet purus odio. Proin euismod leo sed mauris consectetur, in pellentesque mi pharetra. Sed
  egestas, sapien in ullamcorper ornare, purus lectus vestibulum turpis, ac viverra tellus dui non quam. Duis
  pellentesque, ex eget condimentum efficitur, nunc nulla condimentum augue, in facilisis nunc lectus sit amet metus.
  Mauris gravida lacinia mauris, ac dictum mauris vestibulum a.</p>

<p>Proin pulvinar leo a turpis dignissim commodo. Proin mollis mi nibh, id pretium leo vehicula nec. Vivamus porta elit
  eget leo efficitur sagittis. Praesent vel congue mauris. Aliquam eleifend ex arcu, vel consequat felis scelerisque et.
  Quisque hendrerit tortor at aliquam maximus. Integer pretium ultricies sem eget consectetur.</p>

<p>Pellentesque tempus gravida lorem, et posuere magna pretium at. Nunc volutpat, mi vel rhoncus tincidunt, nunc est
  porttitor quam, sit amet vehicula nulla mi et metus. Suspendisse lacinia maximus orci. Proin risus enim, rutrum in
  mauris ut, venenatis efficitur turpis. Proin ultricies mauris a ipsum egestas, sit amet rutrum sapien convallis. Proin
  tincidunt consectetur nisl, et ultrices justo feugiat eu. Fusce ut lacus non ante sodales aliquam. Phasellus id ipsum
  metus. Donec nec felis nec risus efficitur congue ut sit amet quam. Proin vel feugiat magna.</p>

<p>Suspendisse sollicitudin dui at ligula ornare sodales. Donec odio diam, convallis vel aliquet vitae, sagittis id
  eros. Curabitur vehicula sed risus quis aliquam. Vivamus vehicula dapibus placerat. Praesent nisl ipsum, tincidunt
  maximus vestibulum non, pellentesque in tortor. Pellentesque sed elit quis dolor dignissim accumsan. Maecenas sit amet
  mollis ex, id luctus tellus. Cras eget fermentum tellus. Praesent laoreet vulputate eleifend. Sed nisl nisi,
  sollicitudin sed lacus eget, ornare cursus risus. Nam eu ipsum eget tellus accumsan porttitor. In eget ligula
  lobortis, finibus urna et, interdum ante. Nullam bibendum at orci vel vestibulum. In hac habitasse platea dictumst.
</p>

<p>Suspendisse mollis aliquam nulla, in imperdiet nunc eleifend sit amet. Quisque viverra mauris vel volutpat commodo.
  Vestibulum vel sem arcu. Suspendisse faucibus ullamcorper diam non aliquet. Etiam tempor in elit sit amet porta. Nam
  tempus augue ut mollis pellentesque. Nulla mattis leo at eros viverra, sit amet congue nulla laoreet. Maecenas dictum
  consequat metus sit amet luctus. Vestibulum vel massa sit amet velit placerat gravida nec a ex. Mauris eu blandit dui,
  in facilisis felis.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sapien libero, condimentum euismod vulputate a,
  tincidunt nec metus. Donec fermentum, enim non tristique finibus, ligula eros pretium nisi, at volutpat metus dui
  vitae mauris. Ut sit amet purus odio. Proin euismod leo sed mauris consectetur, in pellentesque mi pharetra. Sed
  egestas, sapien in ullamcorper ornare, purus lectus vestibulum turpis, ac viverra tellus dui non quam. Duis
  pellentesque, ex eget condimentum efficitur, nunc nulla condimentum augue, in facilisis nunc lectus sit amet metus.
  Mauris gravida lacinia mauris, ac dictum mauris vestibulum a.</p>

<p>Proin pulvinar leo a turpis dignissim commodo. Proin mollis mi nibh, id pretium leo vehicula nec. Vivamus porta elit
  eget leo efficitur sagittis. Praesent vel congue mauris. Aliquam eleifend ex arcu, vel consequat felis scelerisque et.
  Quisque hendrerit tortor at aliquam maximus. Integer pretium ultricies sem eget consectetur.</p>

<p>Pellentesque tempus gravida lorem, et posuere magna pretium at. Nunc volutpat, mi vel rhoncus tincidunt, nunc est
  porttitor quam, sit amet vehicula nulla mi et metus. Suspendisse lacinia maximus orci. Proin risus enim, rutrum in
  mauris ut, venenatis efficitur turpis. Proin ultricies mauris a ipsum egestas, sit amet rutrum sapien convallis. Proin
  tincidunt consectetur nisl, et ultrices justo feugiat eu. Fusce ut lacus non ante sodales aliquam. Phasellus id ipsum
  metus. Donec nec felis nec risus efficitur congue ut sit amet quam. Proin vel feugiat magna.</p>

<p>Suspendisse sollicitudin dui at ligula ornare sodales. Donec odio diam, convallis vel aliquet vitae, sagittis id
  eros. Curabitur vehicula sed risus quis aliquam. Vivamus vehicula dapibus placerat. Praesent nisl ipsum, tincidunt
  maximus vestibulum non, pellentesque in tortor. Pellentesque sed elit quis dolor dignissim accumsan. Maecenas sit amet
  mollis ex, id luctus tellus. Cras eget fermentum tellus. Praesent laoreet vulputate eleifend. Sed nisl nisi,
  sollicitudin sed lacus eget, ornare cursus risus. Nam eu ipsum eget tellus accumsan porttitor. In eget ligula
  lobortis, finibus urna et, interdum ante. Nullam bibendum at orci vel vestibulum. In hac habitasse platea dictumst.
</p>

<p>Suspendisse mollis aliquam nulla, in imperdiet nunc eleifend sit amet. Quisque viverra mauris vel volutpat commodo.
  Vestibulum vel sem arcu. Suspendisse faucibus ullamcorper diam non aliquet. Etiam tempor in elit sit amet porta. Nam
  tempus augue ut mollis pellentesque. Nulla mattis leo at eros viverra, sit amet congue nulla laoreet. Maecenas dictum
  consequat metus sit amet luctus. Vestibulum vel massa sit amet velit placerat gravida nec a ex. Mauris eu blandit dui,
  in facilisis felis.</p>

<div class="settings">
</div>

<div class="foo">
  <ngx-float-button icon="add" [direction]="'right'">
    <ngx-float-item-button icon="person_add" content="float item 1"></ngx-float-item-button>
    <ngx-float-item-button icon="gps_fixed" content="float item 2"></ngx-float-item-button>
    <ngx-float-item-button icon="mode_edit" content="float item 3"></ngx-float-item-button>
  </ngx-float-button>
</div>
